IMAGE {{ image }}
HOSTNAME {{ hostname }}
{% if sshkey_url %}
# SSH keys to put on the installed system
SSHKEYS_URL {{ sshkey_url }}
{% endif %}

# Hard disk drives to wipe and use
{% for device in ansible_devices if device.startswith("sd") or device.startswith("nvme") -%}
  DRIVE{{ loop.index }} /dev/{{ device }}
{% endfor %}

# RAID configuration
SWRAID {{ swraid }}
SWRAIDLEVEL {{ swraid_level }}

USE_KERNEL_MODE_SETTING no
PART /boot/efi esp 256M
PART swap swap 32G
PART /boot ext3 1024M
PART / ext4 all
